extends skeleton
block body
  for item in items
    section
      img(src="https://trading212equities.s3.eu-central-1.amazonaws.com/" + item.instrument.ticker + ".png")
      h2
        span.name= item.instrument.name
        |
        |
        span.symbol
          code= item.instrument.shortName
      p
        | Trying to
        |
        strong.direction= Math.sign(item.order.quantity) > 0 ? 'buy' : 'sell'
        |
        |
        span.quantity= Math.abs(item.order.quantity)
        | &times;
        |
        span= item.instrument.name
        |
        if item.order.type === 'MARKET'
          span
          |
          | at next available price
        else
          span
            | at
            |
            strong.limitPrice= (new Intl.NumberFormat('en-GB', {style: 'currency', currency: item.instrument.currencyCode, currencySign: 'accounting'})).format(item.order.limitPrice)
            |
            | or better
      details.info
        summary.isin= item.instrument.isin
        pre= JSON.stringify(item, null, 4)
